{% load staticfiles %}

<!DOCTYPE HTML>
<html>
<head>
<title>网页丢失啦~~</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8" />
<meta name="keywords" content="Spinner Coming Soon Responsive, Login form web template,Flat Pricing tables,Flat Drop downs Sign up Web Templates,
 Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<!-- Custom Theme files -->
<link href="{% static 'css/style.css'%}" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="{% static 'css/jquery.countdown.css'%}" />
<!--fonts-->
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<!--//fonts-->
</head>
<body>
    <div class="agile">
     	<div class="container">
			<br>
			<br>
			<br>
			<h1>您的速度太快，网页跟不上啦！</h1>
	<br>
				<br>
			<div class="clear-loading spinner">
				<span></span>
			</div>
<br>
			<br>
			<div class="wthree-info">
				<h2>我们正在回来的路上!</h2>
				<p>我们正在忙着改进我们的网站，马上会重新上线。</p>
			</div>
			<!--timer-->


			<!--//newsletter-->
			<!--copyright-->
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
			<div class="copy w3ls">
		       <p>© 2022  We are busy improving our website, and should be back online in.  |  by <a href="" target="_blank">ShiHaoyang</a> </p>
	        </div>
			<!--//copyright-->
        </div>
   </div>
<!--scripts-->

<!--//scripts-->
</body>
</html>