<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
{% load static %}
{% load tctip_tags %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>登录FuHua账号</title>

	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">



    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="{% static 'user_css/style.css'%}" type="text/css" media="all" />
{% load_tctip %}
</head>

<body>
    <div class="signinform">
        <h1>欢迎来到FUHUA~</h1>
        <!-- container -->
        <div class="container">
            <!-- main content -->
            <div class="w3l-form-info">
                <div class="w3_info">
                    <h2>Login</h2>
                    <form method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <span><i class="fas fa-user" aria-hidden="true"></i></span>
                            <input type="text" placeholder="请输入用户名（英文）" required="required" name="username">
                        </div>
                        <div class="input-group">
                            <span><i class="fas fa-key" aria-hidden="true"></i></span>
                            <input type="Password" placeholder="请输入密码" required="required" name="password">
                        </div>
                        <div class="form-row bottom">
                            <div class="form-check">
                                <input type="checkbox" id="remenber" name="remenber" value="remenber">
                                <label for="remenber"> 记住登录状态</label>
                            </div>
                            <a href="/user/forget/" class="forgot">忘记密码</a>
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">登录</button>
                    </form>
                    		 {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}



                    <p class="continue"><span>or Login with</span></p>
                    <div class="social-login">
                        <a href="#facebook">
                            <div class="facebook">
                                <span class="fab fa-facebook-f" aria-hidden="true"></span>

                            </div>
                        </a>
                        <a href="#twitter">
                            <div class="twitter">
                                <span class="fab fa-twitter" aria-hidden="true"></span>
                            </div>
                        </a>
                        <a href="#google">
                            <div class="google">
                                <span class="fab fa-google" aria-hidden="true"></span>
                            </div>
                        </a>
                    </div>
                    <p class="account">还没有账号嘛? <a href="/user/register">注册账户</a></p>
                </div>
            </div>
            <!-- //main content -->
        </div>
        <!-- //container -->
        <!-- footer -->
        <div class="footer">
            <p>&copy; 2022 Service login form. All Rights Reserved | Design by <a href=""
                    target="blank">ShiHaoyang</a></p>
        </div>
        <!-- footer -->
    </div>

    <!-- fontawesome v5-->
    <script src="{% static 'user_js/fontawesome.js'%}"></script>

</body>

</html>